//mixin
@mixin block-head{
	font-family: "PT serif", tahoma;
	line-height: 24px;
	color: #3b3b3b;
	text-align: center;
}
@mixin btn{
	padding: 20px 30px;
	border-radius: 3px;
	font-family: "PT sans",sans-serif;
	font-size: 13px;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	&:hover{

	}
	a{
	color: #fff;	
	}
	
}
@mixin block-desc{
	font-family: "Pt sans", tahoma;
	font-size: 16px;
	line-height: 24px;
	color: #5b5b5b;
	a{
		color: #ff6633;
	}
}

img{
	height: auto;
	max-width: 100%;
}
*{
	box-sizing: border-box;
}
.container{
	max-width: 940px;
	margin: 0 auto;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
//flex box
.flex-container-w{
	display: flex;
	flex-wrap: wrap;
}
.flex-container-n{
	display: flex;
	flex-wrap: nowrap;
}
.fx-center{
	display: flex;
	justify-content: center;
}
.fx-center-col{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}
.block{
	flex-grow: 1;
}
//header
.head-bg{
	padding: 40px 0 30px 0;
	background-image: url('../img/header-bg.jpg');
	background-size: cover;	
	.flex-container-w{
		justify-content: space-between;
	}
}
	//logotype
	.logotype{
		font-family: "PT serif",helvetiva; 
		font-size: 36px;
		line-height: 24px;
		color: #ff6633;
	}
	//logtype end
	//menu
.btn-responsive{
			display: none;
			position: relative;
			height: 40px;
			width: 40px;
			padding: 5px 5px;
			border: 2px solid #fff;
			border-radius: 5px;
			margin-right:30px; 
			
			.col{
				height: 3px;
				width: 25px;
				background-color: #fff;
				margin-top: 4px;
				border-radius: 3px;
				transition: 0.4s;
			}}
	.menu-list-lg{
	
		.menu-item{
			font-family: "pt serif",helvetica;
			font-size: 14px;
			line-height: 24px;
			text-transform: uppercase;
			color: #ffffff;			
		}
		.menu-desc{
			font-family: "PT sans",sans-serif;
			font-size: 13px;
			line-height: 18px;
			font-style: italic;
			color: #ffffff;
			max-width: 108px;
		}
		
		
		li{
			margin-left: 40px;
		}
		
	}
	.header-head{
		font-family: "pt serif",sans-serif;
		font-size: 52px;
		line-height: 50px;
		color: #fff;
		text-align:center;
		margin: 165px 0 25px 0;
	}
	.head-desc{
			font-family: "pt serif",sans-serif;
		font-size: 36px;
		line-height: 50px;
		color: #fff;
		text-align:center;
		margin-bottom: 140px;
		a{
			color: #fff; 
			text-decoration: underline;
		}
	}
	.btn{
		@include btn;
		width: 160px;
		margin: 0 10px 115px 10px;
	}
	.see{
background-color: #ff6633;
	}
	.find{
background-color: rgba(0,0,0,0.7)
	}
	.scrol-arrow{
		font-family: "pt sans",sans-serif;
		font-size: 14px;
		line-height: 18px;
		color: #fff;
		margin-bottom: 12px;
	}
	i.fas{

		color: #fff;
	}
//end header
//about block
.about{
	padding: 117px 0;
	background-color: #f7f7f7;
	.block-head{
		@include block-head;

	}
	.block-desc{
		@include block-desc;
		max-width: 422px;
		margin-top: 20px;
		margin-right: 50px;

	}
	.fx-btn-wrap{
		display: flex;
		justify-content: flex-end;
	}
	.btn{
		@include btn;
		background-color: #ff6633;
		width: 160px;
		color: #fff;
		margin: 40px 0 50px 0;
		margin-right: 50px;
	}
	.img-container{
		display: flex;
		flex-wrap: nowrap;
	}
	.img-wrap{
		position: relative;
		top: -55px;
		right: -30px;
	}
	.gal-wrap{
		margin-top: 20px;
		margin-left: 30px;
	}

}
@media screen and (max-width: 860px) {
	.about{
		.img-wrap{
		position: static;
		display: flex;
		justify-content: center;
		}
		.img-block{
	display: flex;
	max-width: 536px;
	flex-direction: column;
	margin: 0 auto;
		}
		.btn{
			margin-right: 0px;
		}
		.img-container{
display: flex;
justify-content: space-between;
margin-top: 2px;
			.gal-wrap{
				margin-left: 0;
				margin-right: 0;
				margin-top: 3px;
				&:first-child{
					margin-right: 2px;
				}
			}
		}
		.block-desc{
			max-width: 98%;
			text-align: center;
			margin: 10px 0;
		}
		.fx-btn-wrap{
			justify-content: center;
		}
		.flex-container-n{
			flex-wrap: wrap;
		}
	}
	.menu{
		.flex-container-w{			
			    max-width: 426px;
			    margin: 0 auto;
			}
		.block-desc{
			max-width: 98%;
			text-align: center;
			margin: 10px 0;
		}
		.block{
			.fx-btn-wrap{
			justify-content: center;
		}
		.img-container{
			.flex-container-w{
				flex-wrap: nowrap;
			}
		.top-img{
			margin-bottom: 2px;
		}
		.responsive-img{
			
		}
		.top-img:first-child{
		margin-right: 3px;
	}	
		}
		

		}
		

	}
	.pre-footer{
		.block{
			margin: 0 auto;
			.row{
				margin-bottom: 130px;
			}
		}
	}
}
//about end
//menu block
.menu{
	padding: 120px 0;
	background-color: #fff;

	.block{
		padding: 10px 5px;
	}
	
	.block-head{
		@include block-head;
		margin-bottom: 20px;
	}
	.block-desc{
		@include block-desc;
		max-width: 425px;
		margin-top: 23px;
	}
	.top-img:first-child{
		margin-right: 30px;
	}
	.top-img{
		margin-bottom: 30px;
		max-width: 212px;
	}
	.btn{
		@include btn;
		margin-top: 48px;
		background-color: #ff6633; 
	}
	.fx-btn-wrap{
		display: flex;
		justify-content: flex-end;
	}
}

//menu and
//reservations block
.reservations{
	padding: 111px 0;
	background-color: #f7f7f7;
	.flex-container-w{
		justify-content: space-between;
	}
	.block{
		background-color: #ffffff;
		border-radius: 3px;
		margin: 10px 5px;
		max-width: 450px;
		padding: 80px 30px 65px 30px;
	
		-webkit-box-shadow: 0px 8px 18px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 8px 18px -2px rgba(0,0,0,0.75);
box-shadow: 0px 8px 18px -2px rgba(0,0,0,0.75);
	}
	.block-head{
		@include block-head;
	}
	form{
		max-width: 315px;
		margin: 0 auto;
	}
	.input-wraper{
		position: relative;
		max-width: 310px;
		i{
			position: absolute;
			top: 35px;
			right: 12px;
			color: #5b5b5b;
		}
	}
	input{
		font-family: lato,helvetica ;
		font-size: 14px;
		line-height: 24px;
		color: #555555;
		border:1px solid #e5e4e4;
		border-radius: 3px;
		padding: 10px 39px 10px 36px;
		background-color: #f7f7f7;
		margin-top: 20px;
		width: 100%;
	&:last-child{
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
		line-height: 24px;
		background-color: #222222;
		color: #fff;}
	}

	.event-block{
		margin-top: 40px;
		max-width: 383px;
		.event-text{
			padding-left: 25px;
			.flex-container-n{
max-width: 170px;				justify-content: space-between;
			}
		}
		.event-head{
		font-family: "pt serif",sans-serif;
		font-size: 16px;
		line-height: 24px;
		color: #ff6633;
		margin-bottom: 5px;
		}
		.date{
			font-family: "PT sans",sans-serif;
			font-size: 12px;
			line-height: 20px;
			color: #3b3b3b;
			font-weight: bold;
			}
			.event-desc{
				font-family: "PT sans", sans-serif;
				font-family: 14px;
				line-height: 20px;
				color: #3b3b3b;
				margin-top: 15px;
			}
			.event-more{
				font-family: "PT sans",sans-serif;
				font-size: 14px;
				font-style: italic;
				line-height: 20px;
				color:#ff6633;
			}
	}
	
}
@media screen and (max-width: 860px) {
	.reservations .flex-container-w{		
		justify-content: center;
	}
}
//end reservation
// pre footer
.pre-footer{
	padding: 115px 0;
	background-color: #fff;
	.flex-container-w{
		justify-content: space-between;
	}
	.block{
		display: inline-flex;
		align-items: center;
		flex-direction: column;
		max-width: 300px;
	}
	.block-head{
		@include block-head;
		margin-bottom: 30px;
		text-align: center;
	}
	.block-desc{
		@include block-desc;
		text-align: center;
		max-width: 295px;
	}
	.btn{
		@include btn;
		background-color: #ff6633;
		padding: 20px 30px;
		margin-top: 37px;
	}
	.row{
		position: relative;	
		font-family: lato;
		font-size: 24px;
		line-height: 24px;
		color: #9a9999;
		margin-top: 70px;
		
&:before{
	position: absolute;
	content: " ";
	width: 1px;
	height: 73px;
	background-color: #9a9999;
	top: -83px;
	left: 13px;

}
		&:after{
			position: absolute;
			content: " ";
			width: 1px;
			height: 73px;
			background-color: #9a9999;
			bottom: -83px;
			left: 13px;

		}
	}
	.soc-btn{
		width: 65px;
		display: inline-flex;
		align-items: center;
		margin-top: 56px;
		border-radius: 3px;
		padding: 5px 3px;
		a{color: #fff;}
		i{
			margin-right: 4px;
		}
		
	}
	.fb{
		background-color: #3e59a5;
		margin-right: 10px;
		&:hover{
			background-color: #2f4c9b;
		}
	}
	.tv{
background-color: #1b95e0;
&:hover{
	background-color: #1684c7;
}
	}
}
@media screen and (max-width: 739px) {
	.pre-footer{
		.flex-container-w{
		justify-content: center;
		flex-direction: column;
		text-align: center;
		margin: 0 auto;
	}
	.block{
		flex-grow: 1;
	}
	.row{
		margin: 0 auto;
		} 
	}
}
//
//footer
.footer-bg{
	padding: 65px 0;
	background-color: #222222;
	.flex-container-w{
		justify-content: space-between;
	}
	.block{
		max-width: 270px;
	}
	.footer-head{
		font-family: "PT serif",sans-serif;
		font-size: 16px;
		line-height: 24px;
		font-weight: bold;
		text-transform: uppercase;
		color: #fff;
		margin-bottom: 25px;
	}
	.footer-desc{
		font-family: "PT sans", sans-serif;
		font-size: 14px;
		line-height: 21px;
		color: #fff;
		margin-bottom: 30px;
		a{
			color: #ff6633;
		}
	}
	.footer-list li{
		padding: 11px 0;
		a{
			font-family: "PT sans", sans-serif;
			font-size: 13px;
			line-height: 21px;
			text-transform: uppercase;
			color:#fff;
		}
	}
	.flex-container-n{
		justify-content: flex-start;
	}
	.icons li{
		padding:  5px 14px;
		&:first-child{
			padding-left: 0;
		}
		a{
			color: #fff;
		}
	}
}
@media screen and (max-width: 530px){
	.footer-bg{
	.flex-container-w{
		flex-direction: column;
		max-width: 98%;
		margin: 0 auto;
	}
	.block {
		max-width: 100%;
	}
	li,.footer-head,.footer-desc{
		text-align: center;
	}
	.flex-container-n{
		justify-content: center;
	}
	
}
}
//media querys
//header query
@media screen and (max-width: 825px) {
	.menu-list-lg{
		display: none;
	}

.btn-responsive{
		display: block;
	}
	.clicked {
		padding-top: 5px;
		.col:first-child{
			position: absolute;
			top: 12px;
			left: 5px;
			transform: rotate(45deg);
		}
		.col:nth-child(2){
			display: none;
		}
		.col:nth-child(3){
			position: relative;
			top: 7px;
			left: 0;
			transform: rotate(-45deg);
		}
		}
		.menu-list-lg .menu-desc{
				max-width: 100%;
		}
		.menu-list-lg{	
flex-direction: column;
		width: 100%;
		position: absolute;
		top: 85px;
		right: 0;
			background-color: rgba(0,0,0,0.7);

		li{
			display: flex;
		flex-direction: column;
		justify-content: center;
			border-bottom: 2px solid #fff;
			padding-bottom: 10px;
			padding-right: 5px;
			text-align: center;
				width: 100%;
				   margin-left: 0;

		}
	}
}